<h1>
    <span class="far fa-list-alt"></span> Crud Snippets
</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {{#if viewData.snippets.length}}
    {{#each viewData.snippets}}
    <tr>
       <td>
        <a href="./{{this.id}}/edit"><span class="far fa-edit"></span></a>
        <a href="./{{this.id}}/remove"><span class="far fa-trash-alt"></span></a>
            </td>

      <td>{{this.value}}</td>
    </tr>
    {{/each}}
    {{else}}
    <tr colspan="2">
      <td class="text-center">No snippets to display.</td>
    </tr>
  {{/if}}
    </tbody>
</table>
