<h1>
    <span class="far fa-list-alt"></span> Crud Snippets
</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Done</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#if viewData.snippets.length}}
    {{#each viewData.snippets}}
    <tr>
      <td>{{this.value}}</td>
    </tr>
    {{/each}}
    {{else}}
    <tr colspan="2">
      <td class="text-center">No snippets to display.</td>
    </tr>
  {{/if}}
    </tbody>
</table>
